<!DOCTYPE html>
<html>
  <head>
  	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

	<!-- IE Edge Meta Tag -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Optional Theme -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->

	<link rel="stylesheet" type="text/css" href="public/stylesheets/bsStyles2.css">
	<link rel='stylesheet' href='public/stylesheets/a.css' />
	<!-- <link rel='stylesheet' href='/a.css' /> -->
	<!-- <link rel='stylesheet' href='a.css' /> -->
  </head>
  <!--*****************************body****************************************-->
  <body> <class="home">
	<header>
		<!-- <logo class="logo">
		<container class="container">
			<row class="row">
				<section class="col-md-3 col-lg-push-1">
					<img src="public/images/b_long_cat.png" class="img-responsive" alt="logo_img_black_cat">
				</section>
				<section class="col-md-3 col-lg-push-1">
					<img src="public/images/b_long_cat.png" class="img-responsive" alt="logo_img_black_cat">
				</section>
				<section class="col-md-3 col-lg-push-1">
					<img src="public/images/b_long_cat.png" class="img-responsive" alt="logo_img_black_cat">
				</section>
			</row>
		</container>
		</logo> -->

		<!-- <logoText class="logoText col-lg-1 ">
			<p class="text-left">12345678901112</p>
		</logoText> -->
<!-- extra row here dnda -->
<!-- <div class="row"> -->
		<div class="container c1">
			<div class="row r1">
				<div class="colt col-lg-12  col-md-12  ">
					<!-- <div class="container c2"> -->
						<!-- <div class="row r2"> -->
							<div class="coltl col-lg-5 col-md-5 col-sm-5">
									<!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores illo consectetur distinctio quo voluptate esse culpa atque expedita delectus, sapiente repellendus cupiditate error, aperiam pariatur! Assumenda eum, a sint veniam. -->
								<div class="coltl1 col-lg-4 col-md-4 col-sm-5">
									<img src="public/images/b_long_cat.png" class="img-responsive" alt="logo_img_black_cat">
								</div>
								<div class="coltl2 col-lg-6 col-md-8 col-sm-8">
									<p class="text-left">12345678901112</p>
								</div>	
							</div>	
							<div class="coltr col-lg-7 col-md-7 col-sm-7">
								<!-- <div class="coltr1 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-3 col-md-3 col-sm-3 col-lg-push-2 col-md-push-2 col-sm-push-2 "> -->
									<div class="coltr1 col-lg-3 col-md-offset-0 col-sm-offset-5 col-md-3 col-sm-3 ">
									<ol class="breadcrumb">
										<li><a href="">tata</a></li>
										<li><a href="">tbtb</a></li>
									</ol>
									<!-- <form class="f0">
										<input class="fi1" >
										<input class="fi2" >										
										<input class="fi3" type="submit" value="submit" id="submitTop">
																														
									</form> -->
								</div>
								 <div class="clearfix visible-lg-block clearfix visible-md-block clearfix visible-sm-block">
								 <!-- col11 ll get ride off the space on left taking the whole col but not col12 -->
								<div class="coltr2  col-lg-7 col-md-7  ">
									<div class="coltr2i col-lg-11 col-md-11 col-sm-11">
									<form class="f0">
										<input class="fi1" >
										<input class="fi2" >										
										<input class="fi3" type="submit" value="submit" id="submitTop">
																														
									</form>
									<!-- <ol class="breadcrumb">
										<li><a href="">tata</a></li>
										<li><a href="">tbtb</a></li>
									</ol> -->
									<!-- <form class="form-inline">
										<div class="form-group ">
										    <label class="sr-only" for="exampleInputEmail3">Email address</label>
										    <input type="email" class="form-control " id="exampleInputEmail3" placeholder="Email">
										</div>
										<div class="form-group">
										    <label class="sr-only" for="exampleInputPassword3">Password</label>
										    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
										</div>
										<button type="submit" class="btn btn-default">Sign in</button>
									</form> -->
									</div>
								</div>
							</div>		
						<!-- </div> -->
					<!-- </div> -->
				</div>			
			</div>
		</div>
<!-- </div>		 -->
		
<!-- cant combile btsp headers stuff with normal nav the style wont show up-->
		<!-- <nav class="navb">
			<span class="glyphicon glyphicon-home" style="float: left"></span>
		    <a href="#home">Home</a>
		    <a href="#news">News</a>
		    <dropd class="dropd">
			    <button class="dropbtn" type="button" id="abcd" aria-haspopup="true" aria-expanded="false">
			    	dropd 
			    	<span class="caret"></span> 
			    	<span class="sr-only">Dropdown Menu</span>
			    </button>
			    <dropd-content class="dropd-content">
			        <a href="#">Link 1</a>
			        <a href="#">Link 2</a>
			        <a href="#">Link 3</a>
			        
			    </dropd-content>
		    </dropd> 
		</nav> -->
	</header>
<!--**************************layout************************************************************* -->
					<form name="", method="post", action="/yhu/ddn" id="formTop" class="f7" >
						<label for="inputFirstName" class="sr-only">FirstName</label>
						<input class="f5" type="firstName" name="" id="inputFirstName" placeholder="FirstName">

						<label for="inputLastName" class="sr-only">LastName</label>
						<input class="f6" type="lastName" name="" id="inputLastName" placeholder="LastName">

						<input type="submit" value="submit" id="submitTop">
					</form>

				<form class="form-inline f0 float-right pull-right">
					<div class="form-group f3">
					    <label class="sr-only" for="exampleInputEmail3">Email address</label>
					    <input type="email" class="form-control f1" id="exampleInputEmail3" placeholder="Email">
					</div>
					<div class="form-group">
					    <label class="sr-only" for="exampleInputPassword3">Password</label>
					    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
					</div>

					<button type="submit" class="btn btn-default">Sign in</button>
				</form>

 	<!-- <logo class="logo">
		<container class="container ">
			<row class="row">
				<section class="col-lg-8 col-lg-push-1">
					<img src="public/images/b_long_cat.png" class="img-responsive" alt="logo_img_black_cat">
				</section>
				<section class="col-lg-8 col-lg-push-1">
					<img src="public/images/b_long_cat.png" class="img-responsive" alt="logo_img_black_cat">
				</section>
			</row>
		</container>
		</logo> -->


<!--      <div class="speakerslist">
    <section class="layout">

      </div>
    </section>
  </div>
  
  	<section class="layout">
  	 <div class="primary">

   	 </div>

     <aside class="secondary">
       <article id="nextmeeting">
        <h1><i class="fa fa-user" aria-hidden="true"></i>About me</h1>
        <a href="#"><img src="https://s3.amazonaws.com/louisanresume.com/public/images/resume/me.JPG" alt="My photo"></a>
       <p>louis ME major at UNR looking for a full time or part time either in my major or in CS such as web/phone app development.</p>
       <div class="email"><a download="Qiyu_An's resume.txt from github" href="https://s3.amazonaws.com/louisanresume.com/Qiyu_An_Job_Application.docx.pdf" title="ImageName">Download my resume!</a></div>

       </article>

       <% include partials/content/socialmedia.ejs %>  
       <% include partials/content/artworklist.ejs %>
	   </aside>
  	</section> -->

<!--*************************footer**************-->

<!--***********************i normally put js and header in sep files*************************-->
    <!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Optional IE8 Support -->
<!-- 	[if lt IE 9]
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	[endif] -->
  </body>
</html>
