body {
  background: #f2f2f2;
}

.menu {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
  min-width: 200px;
  /*margin: 50px 33%;*/
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.menu:after {
  content: '>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 15px;
  /*Adjust for position however you want*/
  top: 18px;
  /*margin-top: 18px;*/
  /*padding-top: 18px;*/
  padding: 0 0 2px;
  /*border-bottom: 1px solid #999;*/
  /*left line */ 
  position: absolute;
  pointer-events: none;
}

.menu select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  max-width: 320px;
  width: 200px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  /*border: 1px solid #cccccc;*/
  border: none;
  -ms-word-break: normal;
  word-break: normal;
}

.menu1 {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
  /*min-width: 200px;*/
  /*margin: 50px 33%;*/
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.menu1:after {
  content: '>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  /*right: 110px;*/
  margin-left: 85px;
  /*padding-left: 125px;*/
  /*float: right;*/
  /*horizontal-align: right;*/
  /*Adjust for position however you want*/
  top: 18px;
  /*margin-top: 18px;*/
  /*padding-top: 18px;*/
  padding: 0 0 2px;
  /*border-bottom: 1px solid #999;*/
  /*left line */ 
  position: absolute;
  pointer-events: none;
}

.menu1 select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  max-width: 320px;
  width: 100px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  /*border: 1px solid #cccccc;*/
  border: none;
  -ms-word-break: normal;
  word-break: normal;
}

.menu2 {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
  /*min-width: 200px;*/
  /*margin: 50px 33%;*/
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.menu2:after {
  content: '>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  /*right: 15px*/
  margin-left: 130px;
  /*margin-right: 1px;*/
  /*Adjust for position however you want*/
  top: 18px;
  /*margin-top: 18px;*/
  /*padding-top: 18px;*/
  padding: 0 0 2px;
  /*border-bottom: 1px solid #999;*/
  /*left line */ 
  position: absolute;
  pointer-events: none;
}

.menu2 select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  max-width: 320px;
  width: 150px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  /*border: 1px solid #cccccc;*/
  border: none;
  -ms-word-break: normal;
  word-break: normal;
}

.menu3 {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
  /*min-width: 200px;*/
  /*margin: 50px 33%;*/
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.menu3:after {
  content: '>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  /*right: 15px;*/
  /*Adjust for position however you want*/
  top: 18px;
  margin-left: 80px;
  /*padding-top: 18px;*/
  padding: 0 0 2px;
  /*border-bottom: 1px solid #999;*/
  /*left line */ 
  position: absolute;
  pointer-events: none;
}

.menu3 select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  max-width: 320px;
  width: 100px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  /*border: 1px solid #cccccc;*/
  border: none;
  -ms-word-break: normal;
  word-break: normal;
}

.menu4 {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
  /*min-width: 200px;*/
  /*margin: 50px 33%;*/
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.menu4:after {
  content: '>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  /*right: 15px;*/
  /*Adjust for position however you want*/
  top: 18px;
  margin-left: 80px;
  /*padding-top: 18px;*/
  padding: 0 0 2px;
  /*border-bottom: 1px solid #999;*/
  /*left line */ 
  position: absolute;
  pointer-events: none;
}

.menu4 select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  max-width: 320px;
  width: 100px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  /*border: 1px solid #cccccc;*/
  border: none;
  -ms-word-break: normal;
  word-break: normal;
}

.menu5 {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
  /*min-width: 200px;*/
  /*margin: 50px 33%;*/
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.menu5:after {
  content: '>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  /*right: 15px;*/
  /*Adjust for position however you want*/
  top: 18px;
  margin-left: 95px;
  /*padding-top: 18px;*/
  padding: 0 0 2px;
  /*border-bottom: 1px solid #999;*/
  /*left line */ 
  position: absolute;
  pointer-events: none;
}

.menu5 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  max-width: 320px;
  width: 120px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  /*border: 1px solid #cccccc;*/
  border: none;
  -ms-word-break: normal;
  word-break: normal;
}